* { box-sizing: border-box; font-family: Arial, sans-serif; margin: 0; padding: 0; }

.navbar { display: flex; justify-content: space-between; padding: 10px 5%; border-bottom: 1px solid #ddd; }
.navbar-logo{height: 30px; width: auto; display: block;}
.nav-links a { margin-left: 20px; text-decoration: none; color: black; font-size: 14px; }

.hero { padding: 40px 5%; }
.banner { width: 100%; height: 300px; background: #f0f0f0; display: flex; align-items: center; justify-content: center; margin-top: 20px; border: 1px solid #ccc; background-image: url('../asset/uty.png');}

.headquarters { text-align: center; padding: 50px 5%; border-top: 1px solid #ddd; }
.hq-container { display: flex; align-items: center; justify-content: center; gap: 30px; margin-top: 30px; padding: 20px;}
.hq-info {text-align: left;}
.hq-info h3 {margin-bottom: 10px;color: #333;}
.hq-info p {margin: 5px 0; color: #666;}
#hq-jakarta {background-image: url('../asset/HQ.jpg');}
.circle {width: 150px; height: 150px; border-radius: 50%; background-size: cover; background-position: center; border: 2px solid #000; flex-shrink: 0;}
.message-section { padding: 50px 5%; border-top: 1px solid #ddd; }
.content-wrapper { display: flex; gap: 5%; }

.profile-intro { margin-top: 40px; font-weight: bold;}
.profile { position: relative; width: 100%; padding: 80px 10%; overflow: hidden; color: #333;}
.profile::before{content: ""; position:absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center; opacity: 0.15; z-index: -1;}
.profile-info {position: relative; z-index: 1; max-width: 800px; margin: 0 auto; text-align: center;}
.profile-list ul {margin-top: 10px; padding-left: 20px;}
.profile-list li {margin-bottom: 8px;}
.profile-list {position: relative; z-index: 1; max-width: 800px; margin: 0 auto; text-align: left;}
.about::before{background-image: url(../asset/about.jpg);}
.vision::before{background-image: url(../asset/vision.jpg);}


form { flex: 1; }
.result-box { flex: 1; border: 1px solid #000; padding: 20px; min-height: 200px; }

.input-group { margin-bottom: 15px; }
.input-group label { display: block; margin-bottom: 5px; }
input[type="text"], input[type="date"], textarea { width: 100%; padding: 8px; }
button { width: 100%; padding: 10px; background: white; border: 1px solid #000; cursor: pointer; }

footer { text-align: center; padding: 20px; font-size: 12px; }



@media (max-width: 768px) {
    .hq-container {
        flex-direction: column;
        text-align: center;
    }
    
    .hq-info {
        text-align: center;
    }
}